<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="jumbotron">

				<form method="POST" action="/NYU/{{sub}}/{{subid}}/{{user}}/createThread" enctype="multipart/form-data">
					<div class="form-group">

						<label for="title">title</label>
						<input type="text" name="title" class="form-control"  required />

						<label for="context">context</label>
						<input type="text" name="context" class="form-control"  required />

						<label for="file">somefile</label>
						<input type="file" name="file" class="form-control"  />
						<br></br>

						<input type="submit" class="btn btn-primary" value="createThread" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
