<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="jumbotron">

				<form method="POST" action="/downloadFile" >
					<div class="form-group">

						<label for="thread_id">thread_id</label>
						<input type="number" name="thread_id" class="form-control"  required />
						<br></br>

						<input type="submit" class="btn btn-primary" value="downloadFile" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
