<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="jumbotron">
				<form method="POST" action="/login">
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" name="username" class="form-control" onChange={this.onChange} required/>
						<label for="password">Password</label>
						<input type="password" name="password" class="form-control" onChange={this.onChange} required/><br></br>
						<input type="submit" class="btn btn-primary" value="Login" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>